
<h1>Tweeeeeeeeeets!</h1>

<form id="tweetform" action='/' method='post'>
  <input type='text' name='username'>
  <input type='submit' id="tweetbutton" value="Get Tweets!">
</form>

<img id='loader' src="ajax-loader.gif">

<div id='tweet_dropzone'>

</div>

